* {
    margin: 0;
    padding: 0;
} 

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #eeeeee !important;
}

.title {
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 80px;
    margin-top: 0;
    background-color: rgba(211, 210, 210, 0.1) !important ;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.1) !important;
    margin-bottom: 10px;
    border-radius: 12px;
}

h1 {
    font-family: "Alfa Slab One", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 28px;
    color: #003686;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex: 1;
    gap: 20px;
    margin-top: 10px;
}

.container {
    background-color: #ffffff !important;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    text-align: center;
}

.container h1 {
    color: #ccc !important;
    text-shadow: 0 0 6 rgba(0, 0, 0, 0.1);
}

.formula {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.formula span {
    margin: 0 5px;
}

input {
    width: 50px;
    padding: 5px;
    text-align: center;
}

button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #5e9eff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #ffffff !important;
    font-size: 16px;
}

button#limpar {
    background-color: rgb(255, 161, 37);
}

button:hover {
    opacity: 0.9;
}

#resultado {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc !important;
    border-radius: 4px;
    background-color: #f9f9f9 !important;
    text-align: left;
    max-height: 150px;
    overflow-y: auto;
}

em {
    color: #0479ff;
    text-shadow: 0 1px 1px #ce9700;
}

span {
    color: #003686;
    font-weight: bolder;
}

.container-formula {
    text-align: center;
}

.container-formula img {
    max-width: 90%;
    height: auto;
}

footer {
    background-color: #eeeeee !important;
    width: 100%;
    height: 20px;
    padding: 10px 20px;
    margin: 0;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
    text-align: center;
    position: fixed;
    bottom: 0;
}

footer p {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 0;
    font-size: 14px;
}

.sistemas {
    text-decoration: none;
    cursor: pointer;
    color: #5e9eff;
}

.sistemas:hover {
    color: #003686;
}

.footer-image {
    width: 30px;
    height: auto;
}

@media (max-width: 600px) {
    h1 {
      font-size: 12px;
    }
}

.advert {
    position: relative;
    font-style: italic;
    color: #ee7505;
    text-shadow: 0 0 1px #000000, 0 0 2px #ecc411;
}

.advert::after {
    content: '◀️'; /* Símbolo apontando para o lado esquerdo */
    font-size: 0.8em; /* Tamanho maior */
    position: absolute;
    top: 50%; /* Posicione o emoji no meio verticalmente */
    left: calc(95%); /* Posicione o emoji ao lado direito da mensagem */
    transform: translateY(-50%); /* Centralize verticalmente */
    animation: blink-animation 1s infinite;
}

@keyframes blink-animation {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

